*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}
.div1 > nav >ul>li>a{
    list-style: none;

    background-color: blue;
    opacity: 0.4;
    color: whitesmoke;
    padding: auto ;
    text-decoration: none;
    list-style-type: none;
    list-style-image: none;
}
.div1 > nav >ul>li{
    list-style: none;
    display: inline;
}
.div1>nav>ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 40%;
}
#heading-image{
    width: 15px;
    height: 15px;

}