.div1{
    display: block;
    text-align: center;
}
*{
    background-color: aqua;
}
body{
    background-color: aqua;
   
}
.div2{
    background-color: aqua;
}
#img1{
    width: 300px;
    height: 100px;
    display: inline-block;
    position: absolute;
    right: 400px;
    top: 50px;
}
#img2{
    width: 300px;
    height: 100px;
    position: absolute;
    left: 500px;
    display: inline-block;
}
#img3{
    width: 750px;
    height: 405px;
    position: absolute;
    left: 250px;
    display: inline-block;
}